<!DOCTYPE html>
<html>
<head>
  <title>Scholarize</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
#devise
<!--Ensure you have flash messages in app/views/layouts/application.html.erb.-->
<!--For example:-->

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
